
*, *:before, *:after { /* Seletor universal; remove a borda em branco exterior*/

	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

}

h1 {

	font-family: 'Roboto', sans-serif;
	position: relative;

}