
*, *:before, *:after { /* Seletor universal; remove a borda em branco exterior*/

	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

}

body, html {

	overflow: hidden; /* Remove a barra de rolagem inferior */

}

canvas {

	display: block;

	/* Centralizando o canvas na tela */
	margin-left: calc((100% - 1136px)/2);
	
	/* Outras frescuras de estilo */
	margin-top: 5px;
	border-radius: 10px;
	border: 5px solid #000000;

}

h1 {

	font-family: 'Roboto', sans-serif;
	position: relative;

}

body, html{
  background-color: #EEEEEE;
  width: 100%;
  height: 100%;
}